<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">ngMysql CRUD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                    <a class="nav-link" routerLink="/fixture" routerLinkActive="active">
                      <i class="fa-gamepad"></i> Fixture</a>
                  </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/group" routerLinkActive="active">
            <i class="fa-gamepad"></i> Group</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/team" routerLinkActive="active">
            <i class="fa fa-plus-circle"></i>Add Championship</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/referee" routerLinkActive="active">
            <i class="fa fa-gamepad"></i> referee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/games/add" routerLinkActive="active">
            <i class="fa fa-plus-circle"></i> ADD GAME</a>
        </li>
      </ul>
    </div>
  </nav>